:root {
  --textColor: #008000;
  --backgroundColor: #080808;
  --otherTextColor: #f8f8ff;
  --typewriterchars: 26;
  --typewriterspeed: 6s;
  --sectionHeight: 100vh;
}
body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--backgroundColor);
  flex-direction: column;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.text {
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
}

section {
  height: var(--sectionHeight);
}
.container,
.about-section,
.confession-section,
.cool-border-section,
.sunburst-section,
.neon-section,
.image-section,
.cool-gradient-transition,
.shimmer-section,
.slanted-text-section,
.progress-circle-section {
  display: grid;
  place-items: center;
  align-content: center;
}

.name {
  font-family: "Roboto Mono", monospace;
  font-size: 3rem;
  font-weight: 400;
  color: var(--textColor);
  margin: auto;
  width: max-content;
  position: relative;
}

.name::before,
.name::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.name::before {
  background: var(--backgroundColor);
  animation: typewriter var(--typewriterspeed) steps(var(--typewriterchars)) 1s
    forwards;
}

.name::after {
  width: 0.125em;
  background: var(--textColor);
  animation: typewriter var(--typewriterspeed) steps(var(--typewriterchars)) 1s
      forwards,
    blink 750ms steps(var(--typewriterchars)) infinite;
}

.subtitle {
  color: var(--textColor);
  margin: auto;
  width: max-content;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterspeed) + 2s) forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.chev {
  color: var(--textColor);
  font-size: 4rem;
  left: 0;
  right: 0;
  bottom: 0;
  width: max-content;
  margin: auto;
  position: absolute;
  opacity: 0;
  transform: translateY(-3rem);
  animation: fadeInDown 2s ease calc(var(--typewriterspeed) + 2s) forwards;
}

@keyframes fadeInDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-section {
  width: 100%;
  background-image: linear-gradient(var(--backgroundColor), #f8f8ff);
}

.text-card {
  width: 75%;
  margin: 0 auto;
  background-color: #f8f8ff;
  padding: 8%;
  border-radius: 5px;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.confession-section {
  background-color: #f8f8ff;
}

.confession-card {
  width: 75%;
  height: 25vh;
  margin: 0 auto;
  background-color: transparent;
  padding: 8%;
  border-radius: 5px;
  position: absolute;
  perspective: 1000px;
  border: 1px solid #f1f1f1;
}

.confession-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.confession-card:hover .confession-card-inner {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.confession-card-front,
.confession-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.confession-card-front {
  text-align: center;
  background-color: var(--backgroundColor);
  color: #f8f8ff;
}

.confession-card-back {
  transform: rotateY(180deg);
}

.content {
  background-color: var(--backgroundColor);
  color: #f8f8ff;
  width: max-content;
  height: max-content;
  border-radius: 15px;
  border: 8px solid;
  padding: 18px;
  border-image: linear-gradient(to right, red, green, blue) 25;
}

.sunburst-section {
  background: radial-gradient(closest-side, #3f87a6, #ebf8e1, #f69d3c);
}

.neon-content {
  background-color: var(--backgroundColor);
  color: HSL(114, 96.1%, 59.6%);
  width: max-content;
  height: max-content;
  border-radius: 15px;
  border: 8px solid;
  padding: 18px;
  text-shadow: 0 0 0.125rem HSL(114, 96.1%, 59.6%),
    0 0 0.45rem HSL(114, 96.1%, 59.6%);
  box-shadow: inset 0 0 0.5em 0 HSL(114, 96.1%, 59.6%),
    0 0 0.5em 0 HSL(114, 96.1%, 59.6%);
  position: relative;
}

.neon-content::before {
  content: "";
  position: absolute;
  background: HSL(114, 96.1%, 59.6%);
  top: 120%;
  height: 50%;
  width: 100%;
  transform: perspective(1rem) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.image-section {
  background-color: #f8f8ff;
}
.image {
  width: 300px;
  height: 200px;
  position: relative;
  background: url("../images/nightcity.png") bottom;
}

.image:after,
.image:before {
  content: "";
  position: absolute;
  width: inherit;
  display: block;
  height: 50%;
  bottom: -52%;
}

.image:after {
  background: inherit;
  transform: scaleY(-1);
}

.image:before {
  z-index: 1;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #fff);
}

.cool-gradient-transition {
  background-image: linear-gradient(45deg, red, blue, green);
  background-size: 300%;
  animation: gradient-animation 10s infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.gradient-content {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 3rem;
  border-radius: 15px;
}

.gradient-section-text {
  font-weight: bolder;
}

.shimmer-border {
  position: relative;
  --borderWidth: 18px;
  border-style: solid;
  background-image: linear-gradient(90deg, grey, grey, white, grey, grey);
  background-size: 300%;
  padding: 18px;
  border-radius: var(--borderWidth);
  animation: shimmer 1s linear infinite;
}

.shimmer-text {
  font-size: 3rem;
  font-weight: bolder;
  padding: 3rem;
}

@keyframes shimmer {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.slanted-text-section {
  color: red;
}
.text-holder-circle,
.text-holder-box {
  border: 10px solid red;
}
.text-holder-circle {
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
  position: absolute;
  background-color: green;
}
.text-holder-box {
  background-color: var(--backgroundColor);
  height: max-content;
  width: max-content;
  transform: skew(-15deg, -15deg);
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

.text-to-slant {
  font-weight: bold;
  font-size: 6rem;
  margin: 0;
}

.progress-circle {
  border: 1rem solid lightblue;
  border-radius: 50%;
  height: 9rem;
  width: 9rem;
  position: absolute;
}

.progress-circle-text {
  position: relative;
  color: #3f87a6;
  font-size: 3rem;
}

footer {
  color: black;
  background-color: white;
  text-align: center;
  padding: 4px;
}
